<div class="products">

  {{#banner-image class="products"}}
    <h1 class="title">Products</h1>
  {{/banner-image}}

  <section class="main-section">
    <div class="row">
      <div class="hide-for-small-only medium-3 columns">
        <ul class="side-nav">
          {{#each model.categories as |category|}}
            <li><a href="/products#{{category.slug}}" class="quick-link">{{category.name}}</a></li>
          {{/each}}
        </ul>
      </div>
      <div class="small-12 medium-9 columns">
        {{#each model.categories as |category|}}
          <section id="{{category.slug}}" class="category {{category.slug}}">
            <h2>{{category.name}}</h2>
            {{#each category.products as |product|}}
              <div class="product">
                <h3 class="name">{{product.name}}</h3>
                <p class="desc">{{product.desc}}</p>
              </div>
            {{/each}}
          </section>
        {{/each}}
      </div>
    </div>
  </section>

</div>
